<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <figure>
        <img src="http://via.placeholder.com/80" alt="Coder Bookclub Logo">
        <figcaption>Coder Bookclub</figcaption>
      </figure>
      <nav>
        <span><%= link_to "Home", root_path %></span>
        <span><%= link_to "Books", books_path %></span>
        <span><%= link_to "Authors", authors_path %></span>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
